.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin: 0;
  justify-self: flex-end;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}