.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 91px auto 0 auto;
  max-width: 1184px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 9px;
    max-width: 288px;
    margin-top: 64px;
  }
}