.places {
  max-width: 984px;
  display: grid;
  grid-template-rows: 5;
  margin: 92px auto 0 auto;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin-top: 90px;
    max-width: 720px;
    gap: 65px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 64px;
    min-width: 320px;
    max-width: 767px;
    gap: 50px;
  }
}