.lead {
  margin: 57px auto 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin-top: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    margin-top: 49px;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    min-width: 320px;
    max-width: 767px;
    margin-top: 48px;
  }
}