.header {
  max-width: 1184px;
  height: 52px;
  margin: 28px 48px 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 1279px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 1023px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 767px;
    height: 42px;
    margin: 16px 16px 0 16px;
  }
}