.footer__link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  transition: opacity .2s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}