.lead__title {
  width: 720px;
  height: 200px;
  margin: 0 auto 32px auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    width: 288px;
    height: 88px;
    margin-bottom: 16px;
  }
}