.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 162%;
  margin: 0;
}

.place__paragraph:nth-of-type(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    min-width: 288px;
    max-width: 767px;
    margin: 30px 16px 0 16px;
    font-size: 16px;
  }

  .place__paragraph:nth-of-type(2) {
    margin-top: 25px;
  }
}