.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 auto;
  justify-self: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: auto 0 0 0;
  }
}