.intro {
  max-width: 984px;
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin-top: 89px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    min-width: 288px;
    max-width: 767px;
    margin: 64px 16px 0 16px;
  }
}