.cover {
  margin: 92px auto 0 auto;
  background-image: url("../../images/cover-trains.jpg");
  max-width: 1184px;
  height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  text-decoration: none;
  color: #fff;
}

.cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.5s ease;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1184px;
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 1023px;
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 767px;
    height: 200px;
    margin-top: 66px;
  }
}