.cover__title {
  width: 560px;
  height: 152px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 245px;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin-top: 33px;
    font-size: 32px;
    line-height: 35px;
    width: 250px;
    height: 70px;
  }
}