.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 2;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    row-gap: 47px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: block;
  }
}