.footer {
  margin: 92px auto 24px auto;
  max-width: 1184px;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 186px;
    height: 310px;
    flex-direction: column;
    margin: 64px auto 24px 16px;
    gap: 32px;
  }
}