.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    max-width: 320px;
    gap: 50px;
    margin-bottom: 8px;
  }
}